<section class="container mt-5">
  <form>
    <div class="m-2">
      <label class="form-label">Email adress</label>
      <input type="text" class="form-control">
    </div>
    <div class="m-2">
      <label class="form-label">Pasword</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-check m-2">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        Remenber
      </label>
    </div>
    <button class="m-2">Submit</button>
  </form>
</section>